<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Welcome to Admin page- add logout, list of things to be edited and stuff here</h1>
    <a href="/logout">logout</a><br><br>

    <a href="/admin/alumni">Alumni</a><br>
    <a href="/admin/contacts">Contacts</a><br>
    <a href="/admin/members">Members</a><br>    
    <a href="/admin/events">Events</a><br>
    <a href="/admin/faq">Faqs</a>
</body>
</html>