<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grey Matters- Home</title>
</head>
<body>
    <h1>Client Home Page</h1>
    <h3>Go to <a href="/admin">Admin</a></h3><hr>
    <h3>Client pages-</h3>
    <a href="/alumni">alumni</a><br>
    <a href="/contacts">contacts</a><br>
    <a href="/events">events</a><br>
    <a href="/members">members</a><br>
    <a href="/faq">faqs</a>
</body>
</html>