<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin- Add events</title>
</head>
<body>
    <h1>Page to add events</h1>
    <form action="/admin/events/add" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="title">
        <br>
        <textarea name="content" cols="30" placeholder="Content" rows="10"></textarea>
        <input type="text" name="link" placeholder="reg link">
        <input type="file" required name="img" accept="image/*">
        <button type="submit">Submit</button>
    </form>
</body>
</html>