<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin- Add contacts</title>
</head>
<body>
    <h1>Page to add contacts</h1>
    <form action="/admin/add-contact" method="POST">
        <input required type="text" name="post" placeholder="Post">
        <input required type="email" name="mail" placeholder="E - Mail">
        <button type="submit">Submit</button>
    </form>
</body>
</html>