<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin- Add faqs</title>
</head>
<body>
    <h1>Page to add faqs</h1>
    <form action="/admin/add-faq" method="POST">
      <input required type="text" name="question" placeholder="Question" />
      <br />
      <textarea
        name="answer"
        cols="30"
        rows="10"
        placeholder="Answer"
      ></textarea>
      <br />
      <button type="submit">Submit</button>
    </form>
</body>
</html>