<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin- Add members</title>
</head>
<body>
    <h1>Page to add Member</h1>
    <form action="/admin/add-member" method="POST" enctype="multipart/form-data">
        <input required type="text" name="name" placeholder="name">
        <input required type="text" name="event" placeholder="event">        
        <input required type="number" name="class" placeholder="class">
        <div class="socials">
            <div class="social">
                <input required placeholder="Social Platform" type="text" name="socialPlatform">
                <input required placeholder="Social URL" type="text" name="socialURL">
            </div>
        </div>
        <input required type="file" accept="image/*" name="img">
        <h3 style="cursor: pointer;" id="addSocial">Add Social</h3>
        <button type="submit">Done</button>
    </form>

    <script>
        let btn = document.querySelector("#addSocial");
        let socials = document.querySelector(".socials");

        btn.addEventListener("click", () => {
            let social = document.createElement("DIV");
            social.classList.add("social");

            let sPlatform = document.createElement("INPUT");
            sPlatform.setAttribute("placeholder", "Social Platform");
            sPlatform.setAttribute("type", "text");
            sPlatform.setAttribute("name", "socialPlatform");

            let sURL = document.createElement("INPUT");
            sURL.setAttribute("placeholder", "Social URL");
            sURL.setAttribute("type", "text");
            sURL.setAttribute("name", "socialURL");

            social.appendChild(sPlatform);
            social.appendChild(sURL);

            socials.appendChild(social);
        });
    </script>
</body>
</html>