<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin- Manage Events</title>
</head>
<body>
    <h1>List of events here</h1>
    <a href="/admin/events/add">add events</a>
    <% for (let event of events) { %>
        <h3><%= event.title %></h3>
            <a href="/admin/events/delete/<%= event._id %>">Delete</a>
            <a href="/admin/events/edit/<%= event._id %>">Edit</a>
    <% } %>
    <hr>
</body>
</html>