<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin- Manage members</title>
</head>
<body>
    <h1>List of members here</h1>
    <a href="/admin/add-members">add members</a>
    <% for (let member of members) { %>
        <hr>
        <h3><%= member.name %></h3>
        <a href="/admin/delete-member/<%= member._id %>">Delete Member</a>
        <a href="/admin/edit-members/<%= member._id %>">Edit</a>
        <hr>
    <% } %>
</body>
</html>